body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    min-height: 100%;
    min-width: 100%;
    box-sizing: border-box;
    color: #888;
    font-size: 18px;
    line-height: 1.25;
    overflow: auto;
}

#dcBackground {
    background-image: url(../images/dc/dcBackground.jpg);
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

h1 {
    font-size: 2em;
}

.headerGrid {
    display: grid;
    grid-column-gap: 0;
    grid-template-columns: auto auto;
}

.headerFloatRight {
    float: right;
}

p
 {
    padding: 20px 0;
}

.push {
    min-height: calc(100vh - 228px)
}

.wrapper {
    max-width: 968px;
    margin: auto;
    overflow: auto;
}

#game-area {
    background-color: #ffffff;
    border: solid .15px #dddddd;
    margin-top: 30px;
    margin-bottom: 50px;
    display: grid;
    grid-column-gap: 0;
    grid-template-columns: 50% 50%;

}

.game-area-divider {
    padding: 20px;
    border: solid .15px #dddddd;
    text-align: center;
}

#heroImg {
    width: 100%;
    height: 300px;
}

header {
    width: 100%;
    border-bottom: solid #cccccc 2px;
    background-color: #ffffff;
    overflow: auto;
    position: relative;
}

button {
    padding: 10px;
    border: .5px solid;
    margin-top: 5px;
    text-decoration: none;
    background-color: #666666;
}

a {
    text-decoration: none;
    color: white
}

.dcColors {
    background-color: rgb(0, 0, 0);
    color: rgba(0, 0, 200);
    border-color: rgba(0, 0, 200);
}

.marvelButton {
    background-color: red;
    color: white;
}

footer {
    padding: 0px 0px 0px 0px;
    border-top: 10px #4aaaa5 solid;
    background-color: #666666;
    color: #ffffff;
    text-align: center;
    font-size: 8px;
}

@media (max-width: 768px) {
    .wrapper{
        max-width: 768px;
        margin: 0 15px;
    }
}

@media (max-width: 640px) {
    body{
        margin: 0;
    }
    .wrapper{
        max-width: 640px;
        margin: 0;
    }
    h1 {
        width: 100%;
        padding: 20px 0;
        font-size: 1.5em;
    }

.headerGrid,
#portfolioButton {
    display: block;
    text-align: center;
    }

#game-area {
        margin: 15px;

    }
}